body{
	background-color: #5ca3d6;
     padding: 25px;

}
.border{
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	
}
input{
	border: 3px solid white;
	background-color: #5ca3d6;
	width: 200px; 
}
form{
	border: 3px solid white;
	background-color: #5ca3d6;

}
textarea{
	background-color: #5ca3d6;
}

.column {
	float:left;
	margin: 10px 10px 10px 100px;
}
select{
	width: 200px;
	border: 1px solid grey;
	background-color: #5ca3d6;
}

.column{
	margin-top: 40px;
}